In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
## Preprocess the data
## Drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [6]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
## OneHot encode Geography column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder(sparse_output=False)
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])

In [8]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [10]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [11]:
## Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [12]:
## Divide the dataset into independent and dependent features

X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [13]:
## Split the data in training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [14]:
## Scale the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [15]:
## Save the encoders and scalar

with open('label_encoder_gender_reg.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo_reg.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)    
    
with open('scaler_reg.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN Regression Problem Statement

In [19]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [17]:
X_train.shape[1]

12

In [18]:
## Build our ANN Model

model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 connected with input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1) ## Output Layer for regression (By default Linear AF will be applied)
])

## Compile the model

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\PROJECTS\ANN Classification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\PROJECTS\ANN Classification\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
## Set up the Trensorboard

log_dir='regressionlogs/fit/' + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [21]:
## Set up Early Stopping

early_stopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [22]:
## Training the model

history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\PROJECTS\ANN Classification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\PROJECTS\ANN Classification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 100369.0312 - mae: 100369.0312 - val_loss: 98476.4922 - val_mae: 98476.4922
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99470.6484 - mae: 99470.6484 - val_loss: 96641.3125 - val_mae: 96641.3125
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 96313.4297 - mae: 96313.4297 - val_loss: 91994.0312 - val_mae: 91994.0312
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 90210.1094 - mae: 90210.1094 - val_loss: 84479.1406 - val_mae: 84479.1406
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 81573.3047 - mae: 81573.3047 - val_loss: 75097.6484 - val_mae: 75097.6484
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 71830.2188 - mae: 71830.2188 - val_loss: 65822.7656 - val_mae: 65822.7656
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 62976.5586 - mae: 62976.5586 - val_loss: 58400.8906 - val_mae: 58400.8906
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 56562.9336 - mae: 56562.9336 - val_loss: 53765.2695 - val_mae: 53765.2695
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 52938.8633 - mae: 52938.8633 - val_loss: 51625.5508 - val_mae: 51625.5508
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 51249.7852 - mae: 51249.7852 - val_loss: 50921.1953 - val_mae: 50921.1953
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 50613.7812 - mae: 50613.7812 - val_loss: 50714.3203 - val_mae: 50714.3203
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50374.1914 - mae: 50374.1914 - val_loss: 50648.8281 - val_mae: 50648.8281
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50253.6836 - mae: 50253.6836 - val_loss: 50615.8945 - val_mae: 50615.8945
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50170.3047 - mae: 50170.3047 - val_loss: 50570.8828 - val_mae: 50570.8828
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50105.5977 - mae: 50105.5977 - val_loss: 50534.2773 - val_mae: 50534.2773
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50053.1445 - mae: 50053.1445 - val_loss: 50509.6172 - val_mae: 50509.6172
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50003.0234 - mae: 50003.0234 - val_loss: 50497.4648 - val_mae: 50497.4648
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 49958.5156 - mae: 49958.5156 - val_loss: 50462.0000 - val_mae: 50462.0000
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 49920.5156 - mae: 49920.5156 - val_loss: 50428.3750 - val_mae: 50428.3750
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49888.0977 - mae: 49888.0977 - val_loss: 50417.6875 - val_mae: 50417.6875
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49857.9805 - mae: 49857.9805 - val_loss: 50405.0742 - val_mae: 50405.0742
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49828.1953 - mae: 49828.1953 - val_loss: 50387.7578 - val_mae: 50387.7578
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49805.1875 - mae: 49805.1875 - val_loss: 50367.4453 - val_mae: 50367.4453
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49778.8164 - mae: 49778.8164 - val_loss: 50361.5742 - val_mae: 50361.5742
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49756.5977 - mae: 49756.5977 - val_loss: 50351.4844 - val_mae: 50351.4844
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49739.1719 - mae: 49739.1719 - val_loss: 50345.6992 - val_mae: 50345.6992
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49717.8594 - mae: 49717.8594 - val_loss: 50336.5195 - val_mae: 50336.5195
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49701.5977 - mae: 49701.5977 - val_loss: 50329.0156 - val_mae: 50329.0156
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49684.2266 - mae: 49684.2266 - val_loss: 50321.6836 - val_mae: 50321.6836
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49671.7969 - mae: 49671.7969 - val_loss: 50303.3555 - val_mae: 50303.3555
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49650.7422 - mae: 49650.7422 - val_loss: 50316.9258 - val_mae: 50316.9258
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49635.8555 - mae: 49635.8555 - val_loss: 50313.8906 - val_mae: 50313.8906
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49620.5117 - mae: 49620.5117 - val_loss: 50299.4375 - val_mae: 50299.4375
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49611.2930 - mae: 49611.2930 - val_loss: 50303.9922 - val_mae: 50303.9922
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49598.4531 - mae: 49598.4531 - val_loss: 50301.7188 - val_mae: 50301.7188
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49587.0781 - mae: 49587.0781 - val_loss: 50299.1484 - val_mae: 50299.1484
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49572.8203 - mae: 49572.8203 - val_loss: 50302.8125 - val_mae: 50302.8125
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49559.9141 - mae: 49559.9141 - val_loss: 50287.4453 - val_mae: 50287.4453
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49553.3555 - mae: 49553.3555 - val_loss: 50285.1680 - val_mae: 50285.1680
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49540.9883 - mae: 49540.9883 - val_loss: 50286.6602 - val_mae: 50286.6602
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49531.3359 - mae: 49531.3359 - val_loss: 50282.0078 - val_mae: 50282.0078
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49522.6523 - mae: 49522.6523 - val_loss: 50288.4023 - val_mae: 50288.4023
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49514.9492 - mae: 49514.9492 - val_loss: 50283.6562 - val_mae: 50283.6562
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49507.1602 - mae: 49507.1602 - val_loss: 50289.3398 - val_mae: 50289.3398
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49493.1094 - mae: 49493.1094 - val_loss: 50288.7031 - val_mae: 50288.7031
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49488.9688 - mae: 49488.9688 - val_loss: 50295.2305 - val_mae: 50295.2305

In [23]:
## Load Tensorboard Extension

%load_ext tensorboard

In [25]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 13824), started 0:00:14 ago. (Use '!kill 13824' to kill it.)

In [26]:
## Evaluate the model on the test data

test_loss, test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50282.0078 - mae: 50282.0078
Test MAE: 50282.0078125

In [27]:
model.save('regression_model.h5')

d:\PROJECTS\ANN Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(